<head>
    <link rel="stylesheet" href="~/css/Secrets.css" asp-append-version="true" />
</head>
<body>
@model Secret
    <div class="everything">
        <div>
            <div class="head">
                <h1>Popular Secrets</h1>
                <a href="secrets">Go Back</a>
                <a href="logout" class="badge badge-primary">Log Out</a>
            </div>
            <!-- <div class="top">
                <h2>Post a Secret:</h2>
                <form asp-action="share" asp-controller="Home" method="post">
                    <div class="form-group">
                        <span asp-validation-for="Content"></span>
                        <textarea asp-for="Content" class="form-control"rows="5"></textarea>
                    </div>
                    <button type="submit">Post!</button>
                </form>
                <a>Most Popular Secrets</a>
            </div> -->
            @foreach(var secret in ViewBag.secrets)
            {
                <div class="messages">
                    <div class="posts">
                        <h5> @secret.Created.ToString("MMM dd, yyyy hh:mm tt")</h5>
                        <p>@secret.Content</p>
                        <div class="likes">
                            <span>@secret.Likes.Count</span>
                            @if(@secret.Userid == @ViewBag.User.id)
                            {
                                <a href="delete/@secret.id" style="background-color: red;" class="badge badge-primary">Delete</a>
                            }
                            else
                            {
                                int Count = 0;
                                @foreach(var u in @secret.Likes) 
                                {
                                    @if(@u.LikedBy.id == @ViewBag.user.id) {
                                        Count = 1;
                                    }
                                }
                                @if(Count == 1) 
                                {
                                    <a class="badge badge-primary">Liked</a>
                                } 
                                else
                                {
                                      <a href="like/@secret.id" class="badge badge-primary">Like</a>
                                }
                            }
                          
                        </div>
                    </div>
                </div>
            }        
        </div>
    </div>
</body>